.wrapper {
  margin-left: 6px;
  height: 36px;
  width: 60px;
  border-radius: 99px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  user-select: none;

  + .wrapper {
    margin-left: 8px;
  }

  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }
}

.primary {
  color: var(--white);
  background-color: var(--primary);

  &:hover {
    background-color: rgba(234, 40, 78, 1);
  }
}

.outline {
  color: var(--primary);
  background-color: var(--white);
  border-color: currentColor;

  &:hover {
    color: rgba(234, 40, 78, 0.6);
  }
}

.text {
  color: var(--black);
  background-color: var(--white);

  &:hover {
    text-decoration: underline;
  }
}

.medium {
  width: 99px;
  height: 32px;
  background-color: var(--primary);
  color: var(--white);

  &:hover {
    background-color: rgba(234, 40, 78, 1);
  }
}

.large {
  width: 100%;
  height: 38px;
  background-color: var(--primary);
  color: var(--white);

  &:hover {
    background-color: rgba(234, 40, 78, 1);
  }
}

.whiteColor {
  background-color: var(--white);

  &:hover {
    background-color: var(--gray);
  }
}
