.action-bar {
  display: flex;
  position: absolute;
  right: 20px;
  top: 20px;
}

.action-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 340px;
  height: 48px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 10px 0px;
  align-items: center;
  background-color: var(--white);
  border-radius: 99px;
  padding-left: 4px;

  &::after {
    content: '';
    width: 1.5px;
    height: 20px;
    position: absolute;
    background-color: #ccc;
    right: 126px;
  }
}

.coin,
.download {
  border: none;
  background-color: var(--white);
  padding: 8px;
  cursor: pointer;
  border-radius: 99px;
  text-align: center;
  font-weight: bold;
  color: rgba(32, 32, 32, 1);
  // position: relative;

  &:hover {
    background-color: var(--gray);
  }
}

// .coin > span,
// .download > span {
//   display: inline-flex;
//   align-items: center;
// }

.login-action-bar {
  text-align: center;
}
